# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
.ams/
*.log

# Local files (not for repo)
ams
ams.pub
packages.microsoft.gpg
vscode.deb
